.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  z-index: 5;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(204, 202, 202);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgb(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.searchBtn {
  height: 40px;
  width: 66px;
  background-color: rgb(235, 234, 234);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.searchBtn,
.voice-searchBtn,
.upload-icon-container,
.youtubr-app-icon-container,
.notification-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchBtn .tooltip,
.voice-searchBtn .tooltip,
.upload-icon-container .tooltip,
.youtubr-app-icon-container .tooltip,
.notification-icon-container .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.searchBtn:hover .tooltip,
.voice-searchBtn:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtubr-app-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-searchBtn {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(236, 236, 236);
}

.voice-search-icon {
  height: 24px;

}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-app-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notification-count {
  position: absolute;
  background-color: rgb(179, 0, 0);
  color: white;
  top: -2px;
  right: -4px;
  font-size: 11px;
  padding: 1px 5px 1px 5px;
  border-radius: 10px;
}

.current-user-pucture {
  height: 32px;
  border-radius: 16px;
}